body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    
}
img {
    height: 110px;
    width: auto;
    align-items: center;
}

header {
	background: blue;
	margin: 0;
	height: 60px;
	display: flex;
    align-items: center;
    
}



h1 {
	margin: 0 0 0 100px;
	color: #fff;
    font-size: 30px;
    font-family: fantasy;
}

span {
	font-size: 0.85em;
	background: #B31B1B;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	margin-left: 5px;
}

button {
	display: inline;
}

.devour-burger-form {
	display: inline;
}

#burgers-container {
	display: flex;
}

#burgers-available {
	flex-grow: 1;
	padding: 0.5em 2em 1.7em 2em;
    margin: 1em 1em 1em 0;
    border: 2px solid red;
    border-radius: 12px;
}

#burgers-devoured {
	flex-grow: 1;
	padding: 0.5em 2em 1.7em 2em;
    margin: 1em 0 1em 1em;
    border: 2px solid red;
    border-radius: 12px;
}


.wrapper {
    background-image: url(../../public/assets/img/images.jpeg);
	
	max-width: 67%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 55px;
    padding-bottom: 40px;
}

.burger {
	line-height: 2;
}

.eat-btn {
	margin-right: 0.7em;
	padding: 5px;
}

#submit-btn {
	padding: 0.57em 1em 0.57em 1em;
	font-size: 1.5em;
	background: lightblue;
	border: none;
	margin-left: -5px;
}

#burger-name {
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.5em;
}

/*color: #333;
	font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #eee;
   background-image: url("../../public/assets/img/images.jpeg");
   background-repeat: no-repeat;
    background-size: cover;*/
    